extends layout

block head 
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js") 
    script hljs.highlightAll();

block content
  h1= message
  h2= error.status
  pre 
    code #{error.stack}
